<style>
.map{height:250px;}
</style><div class="map" id="map_in"></div>
<div style="text-align:center">
    <a href="http://jsfiddle.net/doktormolle/EdZk4/">[source]</a><input id="clear_shapes" value="clear shapes"    type="button"  />
  <input id="save_encoded" value="save encoded(IO.IN(shapes,true))"    type="button" />
  <input id="save_raw"     value="save raw(IO.IN(shapes,false))"        type="button" />
  <input id="data"         value=""                style="width:100%" readonly/>
  <input id="restore"      value="restore(IO.OUT(array,map))"         type="button" />
</div>
<div class="map" id="map_out"></div>